@import "tailwindcss";

/* fonts */

/* Inter */
.inter-thin {
  font-family: var(--para-font), sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.inter-extralight {
  font-family: var(--para-font), sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.inter-light {
  font-family: var(--para-font), sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter,
.inter-regular {
  font-family: var(--para-font), sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: var(--para-font), sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: var(--para-font), sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: var(--para-font), sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-extrabold {
  font-family: var(--para-font), sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.inter-black {
  font-family: var(--para-font), sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* Bebas Neue */
.bebas,
.bebas-regular {
  font-family: var(--title-font), serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* design presets */
.title {
  font-family: var(--title-font), serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12rem;
  line-height: 10rem;
}

.subtitle {
  font-family: var(--para-font), sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

/* tlct means translucent */

:root {
  --background: #f5f5ef;
  --background-tlct: #f5f5ef66;
  --foreground: #32321e;
  --foreground-tlct: #32321e66;
  --accent: #7b00ff;
  --accent-tlct: #7b00ff66;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #150b20;
    --background-tlct: #150b2066;
    --foreground: #ffffcc;
    --foreground-tlct: #ffffcc66;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.navbar {
  backdrop-filter: blur(8px) saturate(3);
  -webkit-backdrop-filter: blur(8px) saturate(3);
}

.no-drag-select {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.tilted-bg {
  margin-top: 20%;
}
.tilted-bg::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 120%;
  transform-origin: center;
  transform: rotate(-5deg) translateY(-10%);
  z-index: -1;
}
